numpy
pandas
pyarrow
scikit-learn
joblib
lightgbm
matplotlib
rich
tqdm
tensorboard
tensorboardX

# Optional: For downloading/uploading datasets from HuggingFace/ModelScope
# huggingface_hub
# modelscope
